.order-list-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
  max-height: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
  color: white;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* Estilo para el header */
.order-list-container h1 {
  padding: 5px;
  text-align: center;
}
.red-button {
  background-color: #e74c3c;
  color: white;
  border: none;
  padding: 0.5em 1em;
  cursor: pointer;
  border-radius: 4px;
}
.red-button:hover {
  background-color: #c0392b;
}



.actions-cell > button {
  margin-bottom: 0.25em;
}
/* Estilos para la tabla de órdenes */
.order-list {
  max-height: 200px;
  width: 100%;
  border-collapse: collapse;
  background-color: #fff;
  color: #333;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.order-list-container {
  overflow: auto;
}

.order-list {
  max-height: 80vh;
  overflow-y: auto;
  display: block;
}
.order-list th,
.order-list td {
  padding: 12px 15px;
  border: 1px solid #ddd;
  text-align: left;
}

.order-list th {
  background-color: #f8f8f8;
  font-weight: bold;
}

.order-list tr:nth-child(even) {
  background-color: #f9f9f9;
}

.order-list tr:hover {
  background-color: #f1f1f1;
}

/* Estilos para el formulario (si es que también se utiliza en alguna vista) */
.form-group {
  margin-bottom: 15px;
}

.form-group label {
  font-weight: bold;
  margin-bottom: 5px;
  display: block;
  color: #333;
}

.form-group select,
.form-group input,
.form-group textarea {
  width: 100%;
  padding: 8px;
  font-size: 14px;
  border: 1px solid #ccc;
  border-radius: 4px;
  color: #333;
  background-color: white;
}

.form-group button {
  width: 100%;
  padding: 10px;
  background-color: #28a745;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.form-group button:hover {
  background-color: #218838;
}

/* Si tienes secciones de detalles de pedido */
.order-details {
  background-color: #e9ecef;
  padding: 20px;
  border-radius: 8px;
  margin-top: 20px;
}

.order-details h3 {
  margin-top: 0;
  color: #333;
}

.order-details p {
  font-size: 16px;
  color: #333;
  margin-bottom: 10px;
}

/* Estilos para el botón de volver */
.back-button {
  margin: 10px auto;
  display: block;
  max-width: 200px;
}

/* Estilos para el botón de asignar */
.assign-button {
  padding: 8px 12px;
  font-size: 14px;
}

/* Ajustes para la nueva columna */
.order-list th:last-child,
.order-list td:last-child {
  text-align: center;
}